*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* style element for the mobile version of the application, for now this style might be only for the header page*/
@media (max-width:1020px){
    header{
        /* background-color: whitesmoke; */
        height: fit-content;
        display:flex;
        align-items: center;
        justify-content: space-between;
        margin:15px 5px; 
        padding: 10px 5px;
    }
    #btn{
        width: fit-content;
        position: absolute;
        right:5px
    }
    #line1, #line2, #line3{
            width: 35px;
            height: 4px;
            border-width: 1px;
            background-color:rgba(0, 123, 255, 0.8);
            margin: 4px;
            border-radius: 2px;
            transition:0.5s ease-out;
    }
    .logo{
        position: absolute;
        font-size:30px;
        font-weight: 800;
        font-family: 'Raleway', sans-serif;
        color:rgba(0, 123, 255, 0.7) ;
        text-shadow: 2px 2px 1px rgb(163, 157, 157);

    }
    #loading_bar{
        width:fit-content;
        display:inline-flex;
        justify-content: space-between;
        align-items: center;
    }
   
    #logo .circle{
        width: 0px;
        height: 45px;
        background: rgba(0, 123, 255, 0.8);
        border-color: #000000;
        border-radius: 50%;
        margin-right: 2px;
    }
    /* the list section for menu */
    #list{
    display: block;
    line-height: 100px;
    position: absolute;
    top:60px;
    text-align: center;
    width:100%;
    background-color:#f8f9fa;
        }
    #list ul{
        list-style: none;
    }
    #list ul li a{
        text-decoration: none;
        color:#000000;
        font-size: 25px;
         box-shadow: 3px 3px 1px #007bff, -3px -3px 1px #007bff;
         padding : 1% 69px;
         border-radius: 10px;

    }
    #line1.active{
        background-color: red;
        transform: rotate(-45deg) translate(-2.5px, 4px);
        transition: transform 0.5s;
        height:3px;
        width:30px;
    }

    #line3.open{
        background-color: red;
        transform: rotate(45deg) translate(-1px, -3px);
        transition: transform 0.5s;
        height:3px;
        width:30px;
    }

    #line2.close{
        display: none;
        transition:none
    }

    /* #list ul li{ 
         box-shadow: 1px 1px 1px #007bff, -1px -1px 1px #007bff 
    }*/

/* on-load option for the  */
 
}